header {
  margin: 20px 0;
  margin-left: 20%; }

body, html {
  margin: 0 auto; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

table {
  border-color: white; }

thead td {
  color: white;
  background-color: #333333; }

table tr {
  border-bottom: 1px solid #eeeeee; }

table tr:nth-child(even) {
  background-color: white; }

table tr:nth-child(odd) {
  background-color: #fafafa; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  background: #f7f7f7;
  font-size: 12px; }

h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px; }

.muted {
  color: #999999; }

.timeline {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .timeline canvas {
    margin-left: 18%;
    transform: rotateZ(90deg); }
  .timeline li {
    display: block;
    width: 80%;
    margin-left: 20%; }
  .timeline li.term {
    position: relative;
    height: 200px;
    background-color: rgba(150, 150, 150, 0.1);
    margin-bottom: 1px; }
  .timeline .term.half {
    height: 100px; }
  .timeline .term.red {
    box-shadow: inset 10px 0 0 0 indianred;
    background-color: rgba(255, 100, 150, 0.1); }
  .timeline .term.blue {
    box-shadow: inset 10px 0 0 0 cornflowerblue;
    background-color: rgba(100, 150, 255, 0.1); }
  .timeline .term label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4); }
  .timeline .term b {
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: 0;
    margin-top: 18px;
    color: rgba(0, 0, 0, 0.3); }
  .timeline .term b:nth-of-type(2) {
    top: 50px; }
  .timeline .term b:nth-of-type(3) {
    top: 100px; }
  .timeline .term b:nth-of-type(4) {
    top: 150px; }
