
// Main background/foreground colors
$colorForeground:     rgb(76, 76, 76)
$colorBackground:     #f7f7f7

$colorMuted:     rgb(153,153,153)

// Semantic Colors
$colorGood: #6f9
$colorInfo: #4c9cb9
$colorBad: #d9534f
$colorHighlight: #fff8e3


// Shading and Highlighting
$shade:         rgba(0,0,0,.4)
$shade-1:       rgba(0,0,0,.3)
$shade-2:       rgba(0,0,0,.2)
$shadeThin:     rgba(0,0,0,.06)
$highlightThin: rgba(255,255,255,.05)



